
  <%= form_with model: place, local: true, data: {
                                                  controller: :maps,
                                                  action: "google-maps-callback@window->maps#initializeMap"
                                                } do |form| %>
    <% if place.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

        <ul>
          <% place.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :name, style: "display: none" %>
      <%= form.text_field :name, style: "display: none"  %>
    </div>

    <div class="search_div">
      <%= form.label :search, class: "search_text"%>
      <%= form.search_field :search, name:nil, data: { target: "maps.field", action: "keydown->maps#preventSubmit"}, class: "search" %>
    </div>

    <div>
      <%= form.label :latitude, style: "display: none" %>
      <%= form.text_field :latitude, data: {target: "maps.latitude" }, style: "display: none"  %>
    </div>

    <div>
      <%= form.label :longitude, style: "display: none" %>
      <%= form.text_field :longitude, data: {target: "maps.longitude" }, style: "display: none"  %>
    </div>

    <%= content_tag :div, nil, data: {target: "maps.map"}, class: "map" %>

    <div>
      <%= form.submit  class: "btn" %>
    </div>
  <% end %>
</div>
