<p style="color: green"><%= notice %></p>

<%= render @place %>

<p>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=12&size=400x300&center=#{@place.latitude},#{@place.longitude}&key=#{ENV["MAPS_API_KEY"]}", alt: "Google Maps" %>
  </p>

<div>
  <%= link_to "Edit this place", edit_place_path(@place) %> |
  <%= link_to "Back to places", places_path %>

  <%= button_to "Destroy this place", @place, method: :delete %>
</div>
